<!-- fragments.html -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Navigation Bar Fragment</title>
</head>
<body>

<!-- Navigation Fragment -->
<div th:fragment="nav">
  <div class="nav-container">
    <a href="/" class="nav-link">Home</a>
    <a sec:authorize="hasAuthority('RECRUITER')" class="nav-link" th:href="@{/skill/readskills}">Skills</a>
    <a sec:authorize="hasAuthority('RECRUITER')" class="nav-link" th:href="@{/company/readcompanies}">Companies</a>
    <a sec:authorize="hasAuthority('RECRUITER')" class="nav-link" th:href="@{/job/readjobs}">Manage Jobs</a>
    <a sec:authorize="hasAuthority('RECRUITER')" class="nav-link" th:href="@{/application/readallapplications}">Applications</a>
    <a sec:authorize="hasAuthority('JOBSEEKER')" class="nav-link" th:href="@{/job/readjobsactive}">Search Jobs</a>
    <a sec:authorize="hasAuthority('JOBSEEKER')" class="nav-link" th:href="@{/application/readapplicationsuser}">Applied Jobs</a>
    <a href="/logout" class="nav-link">Logout</a>
  </div>
</div>

</body>
</html>
